DUKEX_DEVELOPMENT_TEAM = 2743MYJ5UC
DUKEX_APP_BUNDLE_IDENTIFIER = com.mafty.dukex
DUKEX_STIKJIT_EXTENSION_BUNDLE_IDENTIFIER = $(DUKEX_APP_BUNDLE_IDENTIFIER).StikJIT
DUKEX_APP_GROUP_IDENTIFIER = group.$(DUKEX_APP_BUNDLE_IDENTIFIER)
DUKEX_LAUNCH_URL_NAME = $(DUKEX_APP_BUNDLE_IDENTIFIER).launch

DEVELOPMENT_TEAM = $(DUKEX_DEVELOPMENT_TEAM)
REGISTER_APP_GROUPS = YES
